<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="styles/restaurants.css" />
  </head>
  <body>
    <%- include('includes/header.ejs') %>
    <%- include('includes/side-drawer.ejs') %>
    <main>
      <h1>Recommended restaurants</h1>
      <% if(numberOfRestaurants===0){ %>
      <p>
        Unfortunately, we have no restaurants yet - maybe you can recommend
        some!!
      </p>
      <% } else { %>
      <p>Find your next favorite restaurants with help of our other users!</p>
      <p>We found <%= numberOfRestaurants %> restaurants</p>
      <ul id="restaurants-list">
        <% for(const restaurant of restaurants){ %>
          <%- include('includes/restaurants-items.ejs', {restaurant: restaurant}) %>
        <% } %>
      </ul>
      <% } %>
    </main>
  </body>
</html>
